@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

**::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-none;
}

*::-webkit-scrollbar-thumb {
  @apply bg-violet9 rounded-3xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-violet10;
}